@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar, .scrollBar::-webkit-scrollbar {
  width: 8px;
  background-color: #ECECEC;
}
body::-webkit-scrollbar-thumb, .scrollBar::-webkit-scrollbar-thumb {
  background-color: #CC9FBB;
  border-radius: 6px;
}